
/* Container - The box element for the chat messenger*/
.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #a9e141;
    border-radius: 10px;
}

/*Container2 - The box element for the Home Screen*/
.container2 {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #4169e1;
    border-radius: 10px;
}

/* Username Form */
.username-form form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.username-form input[type="text"] {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    flex: .7;
    font-family: "consolas";
}

.username-form button,
.message-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    font-family: "consolas";
}


/* Message Input and Send Button */
.message-input {
    display: flex;
}

    .message-input input[type="text"] {
        padding: 10px;
        border: 2px solid #007bff;
        border-radius: 5px;
        flex: .7;
        font-family: "consolas";
    }

    .message-input button {
        padding: 10px 20px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
        font-family: "consolas";
    }

/* Chat Messages */
.chat-messages ul {
    list-style-type: none;
    padding: 0;
}

.chat-messages li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #20fff4b6;
    border-radius: 10px;
    font-family: "consolas";
}


.chat-messages .message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    font-family: "consolas";
}
